@import '../scss/_reset.scss';
@import '../scss/_vars.scss';
@import '../scss/_global.scss';

.header {
    &__inner {
        margin: 20px 0;
        display: flex;
        justify-content: space-between;
    }
}

.logo {
    display: flex;
    align-items: center;
    &-img {
        max-height: 24px;
    }
}

.menu {
    display: flex;
    align-items: center;
    gap: 12px;
    &__list {
        display: flex;
        column-gap: 40px;
        margin-right: 20px;
    }
    &__item {
        font-size: 14px;
        line-height: 133%;
    }
    &__buy-btn {
        font-size: 12px;
        line-height: 16px;
        padding: 13px 18px;
        background: #DDDBDA;
        border-radius: 3px;
        max-height: 42px;
    }
    &__cart-btn {
        padding: 12px;
        background: #F8F9FA;
        border-radius: 3px;
        max-height: 42px;
        display: flex;
        align-items: center;
        gap: 10px;
        span {
            font-family: 'Roboto', sans-serif;
            font-size: 11px;
            line-height: 18px;
            font-weight: 400;
            color: $white; 
            background: $dark;
            border-radius: 50%;
            padding: 0 6px;
        }
    }
}

.shop {
    &__inner {
        display: flex;
        align-items: flex-end;
    }
    &__choice {
        min-width: 512px;
        height: 482px;
        background: $dark;
    }
    &__text {
        font-size: 33px;
        line-height: 129%;
        margin: 260px 78px 28px 64px;
        color: $white;
    }
    &__buttons {
        display: flex;
        justify-content: center;
        gap: 8px;
    }
    &__slider {
        min-width: 0px;
    }
    &__shop-btn,
    &__browse-btn {
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        line-height: 133%;
        font-weight: 400;
        color: $white;   
        padding: 11px 26px;

        &:hover {
            background: $orange;
        }
    }
    &__slider {
        &-img {
            display: flex;
            align-items: flex-end;
            img {
                max-width: 100%;
            }
        }
    }
}

.swiper {
    &-pagination-bullet {
    width: 6px;
    height: 6px;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 0;
    }

    &-pagination-bullet-active {
    background-color: $white;
    }
}

.description {
    padding: 60px 0;

    &__inner {
        max-width: 700px;
        margin: 0 auto;
    }

    &__title {
        font-size: 12px;
        line-height: 16px;
        color: $orange;
        text-align: center;
        margin-bottom: 16px;
    }

    &__text {
        font-size: 27px;
        line-height: 37px;
        text-align: center;
        color: $dark;
    }
}

.advantages {
    margin-bottom: 130px;

    &__list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 32px;
        margin: 0 240px;
    }

    &__item {
        max-width: 245px;
        text-align: center;
    }

    &__item-title {
        margin: 13px 0 11px 0;
        font-size: 21px;
        line-height: 25px;
    }

    &__item-text {
        font-size: 12px;
        line-height: 16px;
    }
}

.goods {
    margin-bottom: 8px;

    &__items {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 8px;
    }
    &__item {
        min-height: 420px;
        width: 100%;
        display: flex;
        align-items: end;
    }
    &__item-info {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin: 0 12px;
        border-top: 1px solid rgba(0, 0, 0, 0.08);
    }
    &__item-text,
    &__item-price {
        font-size: 12px;
        line-height: 16px;
        padding: 12px 0;
        text-transform: uppercase;
    }
}