.container  {
    max-width: 1220px;
    margin: 0 auto;
    padding: 0 10px;
  }
  
  .header {
    background-color: #151515;
  }
  
  .header-main {
    background-color: transparent;
    position: absolute;
    z-index: 10;
    left: 0;
    right: 0;
  }
  
  .header__inner {
    padding-top: 40px;
    padding-bottom: 45px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
  
  .menu__list {
    display: flex;
    gap: 35px;
  }
  
  .menu__list-link {
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
  }
  
  .menu__list-link--active {
    color: #0066FF;
  }

  .menu__btn {
    width: 30px;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
    display: none;
  }
  
  .menu__btn span {
    height: 2px;
    background-color: red;
    width: 100%;
  }
  
  @media (max-width: 860px) {
    .menu__btn {
      display: flex;
    }
    .menu__btn,
    .logo {
      position: relative;
      z-index: 10;
    }
    .menu__list {
      position: absolute;
      z-index: 5;
      background-color: #151515;
      flex-direction: column;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      padding-top: 200px;
      height: 100vh;
      align-items: center;
      transform: translateY(-100%);
      transition: transform .3s ease;
    }
    .menu__list.menu__list--active {
      transform: translateY(0);
    }
  }

